/* ------------- IDENTIFICADORES ÚNICOS */
#header{
    background-color: rgb(17, 17, 17);
    color: white;
    padding: 20px;
}

#header .nav-link{
    color: white;
    margin: 5px;
}

#header input.form-control{
    border: none;
    box-shadow: none;
    outline: none;   
}

#containerPesquisa{
    margin: 0, auto;
}

#botaoSearch{
    width: 40px;
    margin: 0 auto;
}

#header input{
    width: 100%;
    height: 40px;
}

#header button{
    height: 40px;
    background-color: transparent;
    border: none;
}

#containerPesquisa{
    width: 360px;
}

#buscaTerrorCaixa{
    margin: auto;
}

#postagensRecentes{
    margin-top: 20px;
}

.tox-tinymce {
    border: 2px solid black !important;
    border-radius: 5px; /* opcional */
}

#formPost{
    width: 100%;
    margin: 0 auto;
    border: solid black 2px;
    background-color: white;
    border-radius: 15px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 30px;
    padding-top: 30px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.258);
}

#formPost input{
    border-radius: 5px;
    width: 100%;
    height: 40px;
}

#formPost  textarea{
    border-radius: 5px;
    width: 100%;
    height: 100px;
}

#formPost  h5{
    margin-top: 15px;
    margin-bottom: 8px;
}

#form{
    width: 600px;
    margin: 0 auto;
    border: solid black 2px;
    background-color: white;
    border-radius: 15px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 30px;
    padding-top: 30px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.258);
}

#form input{
    border-radius: 5px;
    width: 100%;
    height: 40px;
}

#form textarea{
    border-radius: 5px;
    width: 100%;
    height: 100px;
}

#form h5{
    margin-top: 15px;
    margin-bottom: 8px;
}

#conteudo{
    border-radius: 5px;
    width: 500px;
}

#fundo{
    margin: 10%;
}

#mensagemErro{
    color: red;
}

#publicao{
    margin-top: 50px;
}

input, button {
  width: 100%;
  display: block;
}

input {
  margin-bottom: 10px;
}

#ajuste textarea{
    margin-bottom: 30px;
    width: 100%;
    height: 40px;
    border: solid black 1px;
    font-size: 20px;
}

#ajuste {
    height: 400px;
}

.botaoAjuste{
    border: transparent 0px solid;
    color: transparent;
    background-color: transparent;
    margin: 0px;
}

button {
  margin-top: 10px;
}

#button{
    margin-top: 10px;
}

#publicao img{
    border: solid black 2px;
    height: 480px;
    width: 100%;
    object-fit: cover;
    margin-bottom: 20px;
}

#publicao h1{
    font-weight: 900;
}

#publicao img{
    border-radius: 15px;
    box-shadow: 4px 4px 0px rgb(0, 0, 0);
    border: solid black 1px;
}

#publicao{
    color: rgba(0, 0, 0, 0.771);
}

#postLateral img{
    height: 200px;
    width: 100%;
    border-radius: 5px;
    box-shadow: none;
    border: solid black 1px;
    margin-bottom: 5px;
}

.redefiniLargura{
    width: 300px;
}

#postLateral h2{
    font-size: 25px;
}

#iconPerfil{
    border-radius: 100%;
}


#divPerfil{
    width: 150px;
    height: 150px;
}


/* ------------- CLASSES */
.logado{
    display: none;
}

*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: normal;
}

ul {
    list-style-type: none; 
    margin-left: 0px;
    padding-left: 0px;
}

.material-icons{
    font-size: 10px;
    vertical-align: middle;
    color: white;
}

.postSimples{
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 20px;
}

.postSimples{
    display: flex;
    min-height: 500px;
}

.postDesign{
    border-radius: 15px;
    box-shadow: 4px 4px 0px rgb(0, 0, 0);
    border: solid black 1px;
}

.postSimples img {
    margin-top: 5px;
    margin-bottom: 10px;
    height: 250px;
    width: 100%;
    object-fit: cover;
}

.postSimples h2{
    display:-webkit-box;
    -webkit-line-clamp:2;
    -webkit-box-orient:vertical;
    overflow:hidden;
}

.postSimples p{
    display:-webkit-box;
    -webkit-line-clamp:2;
    -webkit-box-orient:vertical;
    overflow:hidden;
}

#postLateral p{
    margin-bottom: 5px;
    font-size: 15px;
    display:-webkit-box;
    -webkit-line-clamp:2;
    -webkit-box-orient:vertical;
    overflow:hidden;
}

#postLateral h2{
    display:-webkit-box;
    -webkit-line-clamp:2;
    -webkit-box-orient:vertical;
    overflow:hidden;
}

#postLateral button{
    width: 90px;
    font-size: 12px;
    margin: 0px;
}

.postSimples button{
    width: auto;
    align-self: flex-start;
}

body{
    background-color: #ffffff;
}

#postLateral{
    margin-top: 10%;
    margin-left: 3%;
}

#estiloLateral{
    margin-bottom: 30px;
    padding: 5px;
}